spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/diploma_db
    username: diploma_user
    password: diploma_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
