spring:
  application:
    name: kurs
  datasource:
    url: jdbc:postgresql://postgres:5432/kurs_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
